{% extends 'base.html.twig' %}
{% block title %}Bienvenue !{% endblock %}
{% block body %}
<h1 class="bigtitle">Stock Malin...</h1>

<div class="welcome">
    <h2 class="bigtitle">Bienvenue !</h2>
    <button class="buttonnew"><a class="linklogin2" href="{{path('Home_page')}}">Connexion</a></button>
</div>
{% endblock %}